.Mainbox{
    display: flex;
    min-height: 300px;
    width: 400px;
    background: green;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    flex-direction: column;
    align-items: center;

}


.form1 {
max-width: 400px;
margin: 0 auto;
}


.form1 input[type="number"] {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box; 
margin-top: 5px;
}


.form1 button[type="submit"] {
width: 100%;
padding: 10px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease; 
margin-bottom: 4px;
}


.form1 button[type="submit"]:hover {
background-color: #0056b3; 
}





.custom_check {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 10px;
cursor: pointer;
font-size: 18px;
}


.custom_check input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}


.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 5px;
}


.custom_check input:checked ~ .checkmark {
background-color: #007bff;
}


.checkmark:after {
content: "";
position: absolute;
display: none;
}


.custom_check input:checked ~ .checkmark:after {
display: block;
}


.custom_check .checkmark:after {
left: 9px;
top: 5px;
width: 6px;
height: 12px;
border: solid white;
border-width: 0 3px 3px 0;
transform: rotate(45deg);
}

.back-btn {
position: fixed;
bottom: 20px;
right: 20px;
background-color: #333; 
color: #fff; 
padding: 10px 20px; 
border-radius: 5px;
cursor: pointer; 
z-index: 1000; 
}

.back-btn a {
text-decoration: none; 
color: inherit; 
}

.back-btn:hover {
background-color: #555; 
}

.twocheck{
display: flex;
margin: 4px;

}

.form2 {
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
}

.form2:hover {
background-color: #45a049; 
}
.check_counter_container{
display: flex;
}
.counter{
margin-top: 116px;
margin-right: 5px;
display: flex;
flex-direction: column;





}

.count{


padding: 0px;
margin: 2.032px;
}

.search-container {
    position: fixed;
    top: 180px;
    right: 260px;
    z-index: 1; 
}

.search-container input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}